<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">
<head>
	 
</head>
<body>

<section>
		<h2>Dashboard</h2>
		<hr>
		<div class="row">
  		<div class="col-sm-3">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Volunteer</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
  		</div>
		</div>
		
		<div class="row">
  <div class="col-sm-3">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Volunteer</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
  </div>
		</div>
		<div class="row">
 	 <div class="col-sm-3">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Volunteer</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
  		</div>
		</div>
	</div>
</section>

</body>
</html>